.gutenberg__editor .edit-post-meta-boxes-area .postbox {
    background-color: #edeff0;
}

.gutenberg__editor .edit-post-meta-boxes-area .postbox .inside {
    background-color: #fff;
    border-left: 1px solid #edeff0;
    border-right: 1px solid #edeff0;
    margin-top: 0 !important;
}

.gutenberg__editor .edit-post-meta-boxes-area .postbox .form-table {
    margin-top: 0;
}